.nav-trigger-button{
    position: relative;
    padding:15px 10px;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    &:focus{
        outline: 0 !important;
    }
}
.nav-overlay-close{
       border: 0px;
    background-color: transparent;
}
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:  rgba(15, 23, 38, 0.9);
	z-index:999;
}
#trigger_overlay {

}

/* Overlay closing cross */
.overlay .overlay-close {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    display: block;
    float: none;
    margin: 0 auto;
    outline: medium none;
    overflow: hidden;
    padding-top: 2.3%;
    position: relative;
    
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.close-cross {
	font-size:24px;
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 6);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a,.overlay ul li a:hover ,.overlay ul li a:focus  {
	font-family: 'Raleway', sans-serif;
	letter-spacing:10px;
	font-size: 24px;
	font-weight: 500;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-transform:uppercase;
	outline:none;
}



/* Effects */
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

